################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MS.DotNetCore.App/v15/Server/sqlite3
/.vs/MS.DotNetCore.App/v15/sqlite3/db.lock
