################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MS.DotNetCore.App/v15/Server/sqlite3
/.vs/MS.DotNetCore.App/v15/sqlite3/db.lock
/CommonCodeProject/obj/Release/netcoreapp2.0
/Configuration.Demo/obj/Release/netcoreapp2.0
/DeepCopyCore/obj/Release/netcoreapp2.0
/ErrorHandling.Demo/obj/Release/netcoreapp2.0
/NetCoreFileUploader.Demo/obj/Release/netcoreapp2.0
/UrlWriting.Demo/obj/Release/netcoreapp2.0
/WebAppSessionState.Demo/obj/Release/netcoreapp2.0
/Logging.Demo
/AspNetCore/bin
/AspNetCore/obj
/AspNetCore.EFCore/bin
/AspNetCore.EFCore/obj
/AuthoringTagHelpers/bin
/AuthoringTagHelpers/obj
/BenchmarkingDotNetDemo/obj
/BenchmarkingDotNetDemo/bin
/CalculateGCMemory.Demo/bin
/CalculateGCMemory.Demo/obj
/CommonCodeProject/bin
/CommonCodeProject/obj
/Configuration.Demo/obj
/Configuration.Demo/bin
/Configuration.IOptionsSnapshot.Demo/bin
/Configuration.IOptionsSnapshot.Demo/obj
/CustomModelBindingSample/obj
/CustomModelBindingSample/bin
/DeepCopyCore/bin
/DeepCopyCore/obj
/DotNetCore.Fundamentals/obj
/DotNetCore.Fundamentals/bin
/ErrorHandling.Demo/obj
/ErrorHandling.Demo/bin
/Logging.Demo/obj
/Logging.Demo/bin
/MediatRExample/obj
/MediatRExample/bin
/ModelsValidation.Demo/obj
/ModelsValidation.Demo/bin
/NetCoreControllers.Demo/obj
/NetCoreControllers.Demo/bin
/NetCoreFileUploader.Demo/obj
/NetCoreFileUploader.Demo/bin
/OwinSample.Demo/obj
/OwinSample.Demo/bin
/RazorPagesContacts/obj
/RazorPagesContacts/bin
/ResilientHttpClientByPolly/bin
/ResilientHttpClientByPolly/obj
/NetCoreFileUploader.Demo/obj
/NetCoreFileUploader.Demo/bin
/OwinSample.Demo/obj
/OwinSample.Demo/bin
/RazorPagesContacts/obj
/RazorPagesContacts/bin
/TypeScript.Demo/bin
/TypeScript.Demo/obj
/UrlWriting.Demo/bin
/UrlWriting.Demo/obj
/ViewCompanent.Demo/obj
/ViewCompanent.Demo/bin
/WebAppSessionState.Demo/obj
/WebAppSessionState.Demo/bin
/WebSocketsDotNetCore.Demo/bin
/WebSocketsDotNetCore.Demo/obj
/XunitTestDemo/bin
/XunitTestDemo/obj
/WebSocketsDotNetCore.Demo/obj
/WebSocketsDotNetCore.Demo/bin
